.pets {
    margin:20px 100px 20px 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 50%;
}