/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */

 /* TwoColumnLayout.css */

.two-column-container {
  display: flex;
}

.left-column {
  flex: 1;
  padding: 10px;
  /* Add any other styles for the left column */
}

.right-column {
  flex: 1;
  padding: 10px;
  /* Add any other styles for the right column */
}

/* Add any additional styles for the tables as needed */


/* Add borders to the table header */
th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Add borders to the table rows */
tr {
  border: 1px solid #ddd;
}

/* Add borders to the table cells */
td {
  border: 1px solid #ddd;
  padding: 8px;
}