.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-container {
  width: 100%;
  height: 100%;

}

.content-wrap {
  background-color: #f1f4f4;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  max-height: 10%;
}

.logo {
  height: 70px;
  width: 80px;
}

.loading-page {
  background-color: #38393a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

.spinner-container {
  width: 300px;
  height: 300px;
}

#spinner {
  width: 50%;
  height: 50%;
  background-color:#00d0ab;
}

.content-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 85%;
}

.footer-container {
  height: 10%;
}

.vl-white {
  border-left: 1px solid rgb(249, 251, 249);
  height: 100%;
}

.dashboard-container {
  width: 100%;
  display: flex;
  min-height: inherit;
  justify-content: center;
}

.footer-container {
  color: white;
  background-color: #191919;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

.footer-div {
  height: 50px;
}

.col-sm {
  font-size: 15px;
  margin-left: 10px;
}

.header-nav-links {
  font-weight: bold;
  font-size: 15px;
  margin: auto;
}

.right-nav-links {
  display: flex;
  margin-right: 0;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.login-container {
  margin-top: 50px;
  margin-bottom: auto;
  text-align: center;
  width: 300px;
  height: 350px;

}

.auth-inner {
  margin: auto;
  background: #ffffff;
  font-size: 15px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

#btn-custom {
  --bs-btn-color: #fff;
  --bs-btn-bg: #38393a;
  --bs-btn-border-color: #38393a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #787a7b;
  --bs-btn-hover-border-color: #38393a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #38393a;
  --bs-btn-active-border-color: #38393a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #38393a;
  --bs-btn-disabled-border-color: #38393a;
}

#btn-filter-white {
  --bs-btn-color: #171717;
  --bs-btn-bg: #f3f6f9;
  --bs-btn-border-color: #38393a;
  --bs-btn-hover-color: #b0afaf;
  --bs-btn-hover-bg: #787a7b;
  --bs-btn-hover-border-color: #38393a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #38393a;
  --bs-btn-active-border-color: #38393a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #38393a;
  --bs-btn-disabled-border-color: #38393a;
  height: 50px;
  padding: 10px;
  position: relative;
  top: 15px;
}

.tabs {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

  .tabs-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: left;
    background-color: #484949;
    min-width: 150px;
    width: 10%;

    .nav-item {
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
      padding: 5px 10px;
      text-transform: capitalize;
      transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
      -moz-transition: color 0.5s linear;
    }

    .active {
      border-bottom: 2px solid #00d0ab;
      color: #00d0ab;
      transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
      -moz-transition: color 0.5s linear;
    }
  }

  .tabs-content-container {
    height: 100%;
    width: 90%;
    padding: 10px;
  }

  .tabs-content {
    width: 100%;
    height: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.securities-container {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow: hidden; */
}

.hot-all-securities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  /* overflow: hidden; */
}

.hot-securities-container {
  height: 100%;
  width: 37%;
  overflow: hidden;
  background-color: rgb(245, 150, 150);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.all-securities-container {
  height: 100%;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* overflow: hidden; */
}

.securities-trade-container {
  margin-top: 30px;
  height: 50%;
  width: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {

  .content-wrap,
  .content-container {
    min-height: 100%;
    height: auto;
  }

  .hot-all-securities {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 60%;
  }

  .hot-securities-container,
  .all-securities-container,
  .all-securities-table-container {
    overflow: visible;
    width: 100%;
    height: auto;
  }
}

.all-securities-table-container,
.trades-table-container {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.all-securities-table-container thead tr,
.trades-table-container thead tr {
  position: sticky;
  top: 0;
}


/* =================================================================================== */
.date-form-picker-container {
  position: relative;
}

.date-picker-container {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.date-range-container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.date-range-form {
  display: flex;
  flex-direction: row;
}

#date-range-text-box {
  width: 90px;
}


.securities-filter-container,
.securities-attributes-container {
  background-color: #38393a;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 100%;
}

.securities-filter-container {
  background-color: #38393a;
  padding: 10px;
  color: #fff;
  overflow: visible;
  height: 100px;
}

.filter-label {
  font-size: 12px;
}

.search-bar-container {
  min-width: 100px;
  width: 200px;
  display: flex;
  margin-top: auto;
}

.search-form {
  position: relative;
}

/* ============================================================== */
#check-box-div {
  background-color: rgb(74, 182, 140);
  color: rgb(250, 250, 250);
  border-color: white;
}

.CheckboxMenu .dropdown-item:hover,
.CheckboxMenu .dropdown-item:active {
  background-color: transparent;
  color: black;
}

.apply-filter-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.disable-button {
  color: #666;
}