.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container{

  padding: 15px;

  flex: 1 1 150px; 
    
    
}

.navbar {
  background-color: #162784;
  display: flex;
  justify-content: space-between;
}

.bondCard {

 color: red;
}


.date-picker input {
  /* Set a custom border to indicate focus */
  border: 2px solid transparent; /* Change the color as per your requirement */
  border-radius: 5px;
  padding: 5px;
  /* Set the font color to white */
  color: white;
  width: 90px;
}

/* Change the placeholder color to white */
.date-picker input::placeholder {
  color: white;
}

/* Customize the focus outline */
.date-picker input:focus {
  border: 2px solid transparent; /* Change the color as per your requirement */
  outline: none;
}

.date-picker fieldset {
  border: none;
}


.date-picker .logo-element {
  /* Set the logo color to white */
  color: white;
}

.center-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  height: 65%;
  width: 60%;
  background-color: #ffffff;
    
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
}

.login-container > .logo {
  width: 50%;
  background-color: #162784;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  display: grid;
  place-items: center;
}

.login-container >  .form {
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding: 10px;
  display: grid;
  place-items: center;
}