body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add borders to the table */
table {
  white-space: normal;
  overflow-wrap: break-word;
  border-collapse: collapse;
  font-size: 15px;
  width: 100% !important;
}
th{
  overflow-wrap: normal;
  width: fit-content;
  align-items: center;
}
tr{
  white-space: normal;
  overflow-wrap: break-word;
}
#root > div > div.input-group{
  width: fit-content;
}


