/* Centrarea Navbar-ului pe ecran */
.appBar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  
  /* Stilurile pentru butoanele din Navbar */
  .linkButton {
    color: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .linkButton:hover {
    background-color: #555;
  }
